@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* resetando todos os padores do navegador */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}

body{
    
    background: linear-gradient(#292c37, #51647a);
    color: white;
     /*font-weight especifica o peso ou a intensidade da fonte (ex.: negrito)*/
    font-weight: 500;
    display: flex;
    min-height: 100vh;
    min-width: 100vh; /*padrao*/
}

main{
    /*50vw é basicamente metade da pagina*/
    width: 50vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

main h1{
    color:#6e9167;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

main.social-media{
    display: flex;
    align-content:center;
}
main .social-media a{
    text-decoration: none;
}

main .social-media img{
    width:36px;
    margin-left:3rem;
}

main .social-media a:first-child img{
    margin-left: 0;
}

main .alternative {
    margin-top: 1rem;
}

main .alternative span {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
}

main .alternative span::before, main .alternative span::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 100px;
    bottom: 50%;
    right: 50px;
    background: rgba(255, 255, 255, 0.3);
}

main .alternative span::after {
    left: 50px;
}


main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label{
    display: flex;
    flex-direction: column;
}

main form label span{
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input{
    /*cor dos blocos de resposta*/
    background:#242739;
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    /*outline - borda do bloco de resposta*/
    outline:none;
    color: rgba(166,166,166);
    font-size: 1rem;
    border:1px solid #586875;
    border-radius: 8px;
}

main form input[type = "submit"]{
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background:#6e9167;
    color: white;
    font-size:1.1rem;
    transition: all .3s ease-in-out;
}
main form input[type="submit"]:hover {
    background: #afd6ff;
}

section.images {
    width: 50vw;/*somando o 50 da main com o 50 da section pq nosso codigo é composto pela section e pela main*/ 
    display: flex;
    /*flex end alinha tudo no fim do container*/
    align-items: flex-end;
    justify-content: flex-end;
    padding: 4rem;
}

section.images img {
    width: 100%;
}

/*circulo em baixo da img*/
section.images .circle {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #E8CBC0, #6e9167);
    /*recorta a imagem e deixa meia lua mas pode ser qualquer forma*/
    clip-path: circle(40% at right 80%);
    /*z-index é a prorpiedade de camadas onde decidimos qual vai se sobrepor*/
    z-index: -1;
}

/*RESPONSIVO*/
@media only screen and (min-width:900px) and (max-width:1200px){
    section.images img {
        width: 110%;
    }

    section.images .circle{
        clip-path: circle(35% at rigth 80%);
    }
}

@media only screen and (max-width:900px){
    section.images {
        display: none;
        visibility: hidden;
    }

    main{
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 2rem;
    }

    main .alternative span {
        font-size: 0.8rem;
    }

    main form label span, main form input[type="submit"] {
        font-size: 1rem;
    }
}